.app-zuri {
  width: 90%;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.app-zuri img {
  width: 100px;
}

@media screen and (min-width: 800px) {
  .app-zuri {
    flex-direction: row;
  }
}
